@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
*{
	margin:auto;
	padding:auto;
}
.top{
	width:100%;
	background-color:#2FA5EB !important;
	border-bottom:2px solid #f0f0f0;
}
.top div{
	width:1200px;
	color:#fff;
	background-color:#2FA5EB !important;
	font-family:calibri;
	padding:10px;
	text-align:right;
}

.logo{
	width:100%;
	background-color:;
	border-bottom:2px solid #f0f0f0;
}
.logo div{
	width:1200px;
	background-color:;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
.logo div table a{
	padding:10px;
	text-decoration:none;
	color:gray;
}
.logo div table a:hover{
	color:#428bca;
	border-bottom:2px solid gray;
}

.middle{
	width: 100%;
	height: 85%;
	border-bottom:2px solid #ffffff;
	
	

}
.middle div{
	width:700px;
	height:400px;
	font-family:calibri;
}
.middle div p{
	width:1000px;
	font-weight:bold;
	height:300px;
	color:#fff;
	opacity:0.2;
	font-size:50px;
	background-color:#000;
}

.bottom{
	width:100%;
	
	background-color:transparent;
	border-bottom:2px solid #f0f0f0;
	width: 100%;
    border-collapse: collapse;
    background-image: url('logo.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire table */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
.bottom div{
	width:1200px;
	color:#fff;
	background-color:;
	font-family:calibri;
	text-align:right;
}
.bottom div table{
	padding-top:0px;
	width:1100px;
	text-align:justify;
	color:black;
	font-size:20px;
}

.bottom_up{
	background-image: url(logo.jpg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(logo.jpg);
	background-repeat: no-repeat;
	background-size: content;
	background-position: center;
	background-attachment: fixed;
	
}
.bottom_up div{
	padding-top:20px;
	width:1200px;
	text-align:center;
	background-color:;
	font-family:forte;
	font-size:30px;
	padding-bottom:20px;
}
.bottom_up div table{
	padding-top:30px;
	font-size:30px;
	width:1100px;
	text-align:center;
	background-color:;
	font-family:calibri;
	
	
}

input[type="text"]{
	padding:12px;
	width:250px;
}
select{
	padding:12px;
	width:250px;
}
textarea{
	padding:50px;
	width:550px;
}
button{
	width:550px;
	padding:10px;
	color:#fff;
	font-size:20px;
	background-color:#2FA5EB !important;

}


.nav_down{
	width:100%;
	background-color:#2FA5EB !important;
	border-bottom:2px solid #f0f0f0;

}
.nav_down div{
	width:1200px;
	color:#fff;
	background-color:#000;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100px;
    overflow: all;
    z-index: auto;
}

.video-container video {
    position: absolute;
    top: 68%;
    left: 50%;
    width: 1000px;
    height: auto;
    transform: translate(-50%, -50%);
    background-size: cover;
    z-index: auto;
}


.gallery .gallery-content {
  gap: 3rem;
}
.gallery .gallery-content .g-card:nth-child(2n + 1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}
.gallery .gallery-content .g-card:nth-child(2n + 2) {
  grid-column: 7 / -1;
}

.gallery .gallery-content {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[12];
		grid-template-columns: repeat(12, 1fr);
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	gap: 1rem;
	gap: 4rem;
  }
  
  .gallery .gallery-content .g-card {
	height: 100%;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
  }
  
  .gallery .gallery-content .g-card img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
  }
  
  .gallery .gallery-content .g-card h3 {
	position: absolute;
	top: 120%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	color: #000000;
	padding: 1rem;
	font-size: 3rem;
	font-weight: 700;
	text-transform: capitalize;
	text-align: center;
	color: #ffffff;
	opacity: 0.5;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
  }
  
  .gallery .gallery-content .g-card::before {
	content: "";
	position: absolute;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
  }
  
  .gallery .gallery-content .g-card:hover h3 {
	top: 50%;
	opacity: 1;
	-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
  }
  
  .gallery .gallery-content .g-card:hover::before {
	top: 0;
  }
  
  .gallery .gallery-content .g-card:nth-child(3n + 1) {
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1 / 5;
  }
  
  .gallery .gallery-content .g-card:nth-child(3n + 2) {
	-ms-grid-column: 5;
	-ms-grid-column-span: 4;
	grid-column: 5 / 9;
  }
  
  .gallery .gallery-content .g-card:nth-child(3n + 3) {
	grid-column: 9 / -1;
  }

  